.app {
  height: 100vh;
  padding: 30px;
  background-color: floralwhite;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin: 0 auto;
}

.list-user {
  display: flex;
  align-items: center;
  
}

.username-input {
  margin-left: 20px;
} 